.status {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.online {
  composes: status;
  background-color: green;
}
.offline {
  composes: status;
  background-color: red;
}
.item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 4px;

  border: 2px solid #ccc;
}
.item:not(:last-child) {
  margin-bottom: 20px;
}
.avatar {
  margin-left: 20px;
}
.name {
  margin-left: 20px;
}
